<div>
<h5>General Information</h5>
<ul>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "Contact Us", contact_path %></li>
</ul>
</div>
<div>
<h5>Social</h5>
<ul class='social-icons'>
    <li><%= image_tag 'facebook.png', height: '50px', alt: 'Facebook', class: 'social-icon' %></li>
    <li><%= image_tag 'twitter.png', height: '50px', alt: 'Twitter', class: 'social-icon' %></li>
    <li><%= image_tag 'instagram.png', height: '50px', alt: 'Instagram', class: 'social-icon' %></li>
</ul>