<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= image_tag 'logo.svg', height: '90px', alt: '20\'s Adventures Logo', id: 'main-logo' %>
    </nav>
    <%= yield %>
  </body>
</html>
