<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='top-nav'>
    </div>
    <input type="text" placeholder="Search.." id="main-search" />
    <nav>  
      <div id='logo'>
        <%= image_tag 'logo.svg', height: '125px', alt: '20\'s Adventures Logo', id: 'main-logo' %>
      </div>
      <div>
        <ul id="menu">
          <li>Food</li>
          <li>Health</li>
          <li>Finance</li>
          <li>Travel</li>
          <li>Inspiration</li>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
