<!DOCTYPE html>
<html>
  <head>
    <title>20's Adventures</title>
    <meta name="description" content="A blog dedicated to helping Twenty Somethings living their best life. Advice in finance, food, health, travel, local (Chicago), and dating abound." />

    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8DMOhOTpifiFxaBs0nUb94yEWvFAj0R0"></script>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <header>
      <%= render 'layouts/topmenu' %>

      <%= render 'layouts/sidemenu' %>
  </header>

  <main>
    <%= yield %>
  </main>
  
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  
  </body>
</html>
